*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ebf4f5 0%, #b5c6e0 100%)
}

.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: linear-gradient(135deg, #b597f6 0%, #96c6ea 100%);
    padding: 60px;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    width: 400px;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.temp-deg{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: 30px;
}

.city-name{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.search-bar{
    width: 100%;
    position: relative;
}

.icon p{
    text-transform: capitalize;
}

.search-bar input{
    outline: none;
    border: none;
    border-radius: 100px;
    padding: 10px 30px;
    background-color: #96c6ea;
    caret-color:#443663;
    width: 70%;
}
.search-bar input::placeholder{
    color: white;
    font-size: 15px;
}

.search-bar button{
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    color: white;

}


.status-icon{
    width: 150px;
}

.hum-icon,
.wind-icon {
    width: 70px;
}

.weather{
    display: none;
    width: 80%;
}

.error-msg{
    padding-top: 10px;
    color: red;
    display: none;
    position: absolute;
    left: 30%;
}



