*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background: linear-gradient(135deg, #ebf4f5 0%, #b5c6e0 100%)
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: linear-gradient(135deg, #b597f6 0%, #96c6ea 100%);
    padding: 60px;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    width: 400px;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.temp-deg{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: 30px;
}

.city-name{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.search-bar{
    width: 100%;
    position: relative;
}

.icon p{
    text-transform: capitalize;
}

.search-bar input{
    outline: none;
    border: none;
    border-radius: 100px;
    padding: 10px 30px;
    background-color: #96c6ea;
    caret-color:#886bc9;
    width: 70%;
    color: white;
}
.search-bar input::placeholder{
    color: white;
    font-size: 15px;
}

.search-bar button{
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    color: white;

}


.status-icon{
    margin-top: 20px;
    width: 150px;
}

.hum-icon,
.wind-icon {
    width: 70px;
}

.weather{
    display: none;
    width: 80%;
}

.error-msg{
    padding-top: 10px;
    color: red;
    display: none;
    position: absolute;
    left: 30%;
}

.humidity,
.wind{
    padding: 10px;
    background: linear-gradient(310deg,#a992db 0%, #5aaceb 100%);
    border-radius: 10px;
    width: 105px ;
}


@media screen and (max-width: 800px) {
    .card{
        width: 300px;
        height: fit-content;
    }

    .search-bar input{
        width: 50%;
    }

    .status-icon{
        width: 120px;
    }

    .hum-icon,
    .wind-icon {
    width: 50px;
    }

    .humidity,
    .wind{
        width: 70px;
    }

    .humidity p,
    .wind p {
        font-size: 14px;
    }

}

@media screen and (max-width: 500px) {
    .card{
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-around;
        border-radius: 0;
    }
    .search-bar{
        margin: 40px;
    }
    .footer{
        margin-top: 200px;
    }

}




